#section4{
    height: 100vh;
    // width: 100vw;
    // border:2px solid red;
    .block-center{
        width: 60vw;
        height: 100vh;
        background:linear-gradient(360deg,var(--cornflower-light) 0%,var(--cornflower-light) 50%,white 50.1%);
        margin:auto auto 0;
        display: flex;
        .medium-circle-purple{
            width: 360px;
            height: 360px;
            background-color: white;
            border-radius: 50%;
            justify-content: center;
            margin:auto;
            border:48px solid var(--cornflower-light);
            display: flex;
            flex-direction: column;
            h4{
                color:var(--cornflower-medium);
                font-size:1.16rem;
                letter-spacing:0.02rem;
                font-weight: normal;
                font-family: var(--font-francois);
                margin: auto auto 3rem;
            }
        }
    }
}

.dotFrame{
    display: flex;
    margin: -3rem auto auto;
    justify-content: space-evenly;
    width: 80%;
    height: 6vh;
}

.dot-purple{
    background:var(--cornflower-light);
    display: flex;
    width:40px;
    height: 40px;
    margin:auto auto;
    border-radius: 50%;
    &:nth-child(1){
        animation: expand 2000ms linear infinite;
    }
    &:nth-child(2){
        animation: expand2 2000ms linear infinite;
    }
    &:nth-child(3){
        animation: expand 2s linear infinite;
    }
}

@keyframes expand{
    from{
        width:40px;
        height:40px;
        opacity: 1;
    }
    50%{
        width:20px;
        height:20px;
        opacity: 0.2;
    }
    to{
        width:40px;
        height:40px;
        opacity: 1;
    }
}
@keyframes expand2{
    from{
        width:20px;
        height:20px;
        opacity: 0.2;
    }
    50%{
        width:40px;
        height:40px;
        opacity: 1;
    }
    to{
        width:20px;
        height:20px;
        opacity: 0.2;
    }
}
